<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/less/bootstrap.less")" rel="stylesheet" type="text/less" />
    <link href="@Url.Content("~/Content/less/ktMINE.less")" rel="Stylesheet" type="text/less" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/less-1.2.1.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">
                    ktMINE
                </a>
                <ul class="nav">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/Home/About">About</a>
                    </li>
                </ul>
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Search" />
                </form>
            </div>
        </div>
    </div>
    <div class="page row-fluid">
        <div id="header span12">
            <div id="title">
                <h1>ktMINE Application Title</h1>
            </div>
            @*<div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>*@
        </div>
        <div id="main span12">
            @RenderBody()
        </div>
        <div id="footer span12">
        </div>
    </div>
</body>
</html>
